body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.heading {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subheading {
  font-size: 21px;
  color: #666;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
