<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/icon" href="assets/img/noteNestIcon">
    <title>NoteNest | ContactUs</title>
    <link rel="stylesheet" href="./assets/css/contactUsPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Contact With Us Now !
            </div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="#" class="login">
                    <div class="field">
                        <input type="text" placeholder="Email Address" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Message" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Send Message">
                    </div>
                    <div class="signup-link">
                        We Will Contact You Within 24 Hours ❤
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>