<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteNest | Forget Password</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/icon" href="assets/img/noteNestIcon">
        <title>NoteNest | Forget Password</title>
        <link rel="stylesheet" href="./assets/css/signupAndLoginPage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="wrapper">
            <div class="title-text">
                <div class="title login">
                    Reset Password Now!
                </div>
            </div>
            <div class="form-container">
                <div class="form-inner">
                    <form id="loginForm" class="login" method="post" action="users/forgetPassword">
                        <div class="field">
                            <input type="text" id="userEmail" name="userEmail" placeholder="User Email" required>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Reset Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    </html>
</body>

</html>