<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="assets/css/styles.css">

    <link rel="icon" type="image/icon" href="assets/img/noteNestIcon">
    <title>NoteNest - Note Taking Application</title>
</head>

<body>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">NoteNest</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Features</a></li>
                    <li class="nav__item"><a href="./signupAndLoginPage.html" class="nav__link">Signup</a></li>
                    <li class="nav__item"><a href="./signupAndLoginPage.html" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="https://github.com/AkshandraSingh/NoteNest" class="nav__link"
                            target="_blank">Github</a></li>

                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Your Creative Hub for Notes!</h1>
                    <h2 class="home__subtitle">Empower Your Notes with NoteNest!</h2>
                    <a href="./signupAndLoginPage.html" class="button">Get Started</a>
                </div>

                <img src="assets/img/home.png" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial">About us 🚀</span>
                    <h2 class="section-title about__initial">Idea For NoteNest</h2>
                    <p class="about__description">At NoteNest, our mission is to revolutionize the way you take notes.
                        We understand the importance of capturing thoughts, ideas, and information effectively, which is
                        why we've created a platform that simplifies the entire process.</p>
                    <a href="https://github.com/AkshandraSingh/NoteNest" class="button" target="_blank">Contribute
                        Now!</a>
                </div>

                <img src="assets/img/about.png" alt="" class="about__img">
            </div>
        </section>

        <!--========== SERVICES ==========-->
        <section class="services section bd-container" id="services">
            <span class="section-subtitle">Features 🎯</span>
            <h2 class="section-title">Our amazing features</h2>

            <div class="services__container  bd-grid">
                <div class="services__content">
                    <img src="./assets/img/security.jpg" alt="security" class="services__img">
                    <h3 class="services__title">Excellent Security</h3>
                    <p class="services__description">At NoteNest, your security is paramount. Through advanced
                        encryption, we safeguard your notes, ensuring peace of mind as
                        you focus on your tasks.</p>
                </div>

                <div class="services__content">
                    <img src="./assets/img/easyToUse.png" alt="easyToUse" class="services__img">
                    <h3 class="services__title">Easy To Use</h3>
                    <p class="services__description">NoteNest is designed for simplicity. With an intuitive interface
                        and user-friendly features, taking and organizing notes
                        has never been easier.</p>
                </div>

                <div class="services__content">
                    <img src="./assets/img/openSource.png" alt="openSource" class="services__img">
                    <h3 class="services__title">Open Source</h3>
                    <p class="services__description">NoteNest embraces open source. We invite collaboration to enhance
                        note-taking for all, fostering transparency and
                        innovation within our community-driven platform.</p>
                </div>
            </div>
        </section>

        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Let's talk 🗣</span>
                    <h2 class="section-title contact__initial">Contact us</h2>
                    <p class="contact__description">Got questions or feedback? Reach out to us. We're here to help!</p>
                </div>

                <div class="contact__button">
                    <a href="#" class="button">Contact us now</a>
                </div>
            </div>
        </section>
    </main>

    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">NoteNest</a>
                <span class="footer__description">Note Taking Application</span>
                <div>
                    <a href="https://github.com/AkshandraSingh/NoteNest" class="footer__social" target="_blank"><i
                            class='bx bxl-github'></i></a>
                    <a href="https://www.instagram.com/akshandra.singh/" class="footer__social" target="_blank"><i
                            class='bx bxl-instagram'></i></a>
                    <a href="https://twitter.com/AkshandraSingh7" class="footer__social" target="_blank"><i
                            class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Features</h3>
                <ul>
                    <li><a href="#services" class="footer__link">Best Security</a></li>
                    <li><a href="#services" class="footer__link">Easy To Use</a></li>
                    <li><a href="#services" class="footer__link">Open Source</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Information</h3>
                <ul>
                    <li><a href="https://github.com/AkshandraSingh" class="footer__link" target="_blank">Manage
                            By Akshandra</a></li>
                    <li><a href="https://github.com/AkshandraSingh/NoteNest" class="footer__link" target="_blank">Github
                            Repo</a></li>
                    <li><a href="https://www.instagram.com/akshandra.singh/" class="footer__link"
                            target="_blank">Contact to
                            Developer</a></li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">Created and Manage by Akshandra Singh ❤</p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
</body>

</html>